.modal-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $light-black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body{
  min-width: 35rem;
  background-color: $white;
  border-radius: .5rem;
  box-shadow: .5rem .5rem 1rem $light-black;
  padding: 1rem;
}
.modal-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.modal-header::after{
  content: '';
  width: 100%;
  height: .2rem;
  background-color: $light-black;
  margin: 1rem 0;
  display: block;
}

.modal-actions{
  padding-top: 1rem;
}

#modal-form {
  & .row {
      display: flex;
      padding: 8px 0;
      justify-content: space-between;
      position: relative;
      &::after {
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 1px solid $light-black;
      }
  }
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none !important;
}